/* Centered Container for Authentication */
.auth-center-container-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
    max-height: 550px;
    margin-top: 10vh;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.auth-center-container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    max-height: 450px;
    margin-top: 15vh;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


@media (max-width: 600px) {
    .auth-center-container {
        padding: 20px;
        width: 90%;
    }
}

h2, h3 {
    font-size: 25px;
    color: #333;
    text-align: center;
}

/* Input Fields */
form {
    width: 80%;
    margin-bottom: 15px;
    font-size: 16px;
}

/* Button Styles */
#login-button, #signup-button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

#login-button:hover, #signup-button:hover {
    background-color: #2980b9;
}

/* Forgot Password Link */
#forgot-password {
    text-decoration: underline;
    font-size: 15px;
    color: #3498db;
    cursor: pointer;
}

#forgot-password:hover {
    color: #2980b9;
}

/* Join Now Section */
#new-to-meatmeal {
    color: black;
    font-size: 15px;
    text-align: center;
}

#new-to-meatmeal #join-now {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

#new-to-meatmeal #join-now:hover {
    color: #3498db;
}

/* Loading Spinner Alignment */
.align-self-center {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
